.m{
    margin: 2px 10px 2px 10px;
    color:black;
}
    .m:hover {
        color: darkgray;
    }

.mc {
    overflow-y:scroll;
    margin: 10px;
    padding:10px;
    height: 55vh;
    border-radius: 5px;
    background-color: white;
}

.p0 {
    padding: 0px;
    height:auto;
}

.c {
    background-color: #00000024;
    border-radius: 5px;
    height: auto;
}

hr {
    margin: 0;
    background-color: #007bff;
}

.msg {
    background-color: #007bff;
    border-radius: 30px;
    color: white;
    min-width: 27px;
    padding: 5px 15px 5px 15px;
    margin:2px;
}

.in {
    border-bottom-left-radius: 0px;
}

.out {
    border-bottom-right-radius: 0px;
}

.col-12{
    padding:0px !important;
}

.hidden{
    display:none;
}