@model User
<a class="m" asp-controller="AjaxRequests" asp-action="ConnectToGroup" asp-route-userId="@Model.Id" data-ajax="true">
    <div class="font-weight-bolder">
        @Model.Email
    </div>
    <div class="font-weight-lighter">
        Online
    </div>
    <hr />
</a>