@model FileExchanger.ViewModels.MessageViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="c row">
        <div class="p0 col-4 ">
            <div style="overflow-y:scroll; height:69vh">
                @foreach (User item in ViewBag.OnlineUsers)
                {
                    await Html.RenderPartialAsync("_OnlineUserPartial", item);
                }
            </div>
        </div>
        <div class="p0 col-8">
            <div class="mc border border-primary">
                <div id="msgContainer" class="container">
                    Select dialog. please
                </div>
            </div>
            <div style="margin:0px 0px 0px 10px" >
                <div class="row">
                    <form asp-controller="AjaxRequests" asp-action="SendMessage" class="col-12 d-flex" data-ajax="true" method="post">
                        <div class="col-10 " style="padding-right:0px">
                            <textarea asp-for="Content" class="w-100" placeholder="
                                                         Enter your message here..."></textarea>
                        </div>
                        <input type="hidden" asp-for="To" />
                        <div class="col-2">
                            <button class="btn btn-primary">
                                <i class="fa fa-paperclip"></i>
                            </button>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-send"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>
    }
</div>
@section Styles{ 
    <link  rel="stylesheet" href="~/css/messenger.css"/>
}
@section Scripts{ 
    <script type="text/javascript" src="~/js/messenger.js"></script>
}
